body {
  margin: 0;
  padding: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.timeline-wrapper {
  margin-left: 1.5rem;
  border-left: 2px solid black;
}
.timeline-wrapper .node:last {
  margin-left: 1.5rem;
  border-left: none;
}
.node {
  padding-left: 0.5rem;
  padding-bottom: 1.5rem;
  position: relative;
}
.node h3,
.node p {
  margin: 0;
}
.node::before {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  background: black;
  border: 2px solid black;
  border-radius: 50%;
  position: absolute;
  top: 0.3rem;
  left: -0.45rem;
}

.firstEvent {
  border: 2px solid black;
  padding: 15px;
  border-radius: 12px;
}
